<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <!-- Cho phép gọi điện và gửi email -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý sinh viên"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        >

        <!-- Màn hình chính -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình thêm sinh viên -->
        <activity android:name=".AddStudentActivity"
            android:theme="@style/AppTheme"
            />

        <!-- Màn hình cập nhật sinh viên -->
        <activity android:name=".UpdateStudentActivity"
            android:theme="@style/AppTheme"
            />

    </application>

</manifest>
